@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

._conteiner {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 101px;
}

.header__conteiner {
  height: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Дополнительный стиль для стрелки */
}
.header__conteiner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 428px;
}
.header__conteiner .nav-arrow {
  margin-top: 5px;
}
.header__conteiner .header__flex-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__conteiner .nav__link {
  font-family: Roboto;
  font-size: 13px;
  color: rgba(36, 36, 36, 0.5019607843);
  font-weight: 700;
}
.header__conteiner .header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 5;
}
.header__conteiner .header__burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgba(36, 36, 36, 0.6980392157);
  top: 18px;
  left: 5px;
  -webkit-transition: background-color 0.2s, opasity 0.25s, -webkit-transform 0.5s;
  transition: background-color 0.2s, opasity 0.25s, -webkit-transform 0.5s;
  transition: background-color 0.2s, opasity 0.25s, transform 0.5s;
  transition: background-color 0.2s, opasity 0.25s, transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.header__conteiner .header__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.header__conteiner .header__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.header__conteiner .languages__ua {
  border: 3px #EEF8FD solid;
  border-radius: 25px 0px 0px 25px;
  padding: 7px;
  color: #242424;
  font-family: Roboto;
}
.header__conteiner .languages__en {
  background: #EEF8FD;
  border: 3px #EEF8FD solid;
  padding: 7px;
  border-radius: 0px 25px 25px 0px;
  color: #242424;
  font-family: Roboto;
}
.header__conteiner .submenu {
  display: none;
  position: fixed;
  border-radius: 25px;
  border: 1px solid rgba(36, 36, 36, 0.2);
  background: #FFF;
  padding: 24px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 1000000000;
  width: auto;
}
.header__conteiner .dropdown.active .submenu {
  z-index: 100000;
  display: block;
}
.header__conteiner .submenu li {
  margin: 0;
  font-family: Roboto;
  font-size: 13px;
  color: rgba(36, 36, 36, 0.5019607843);
  font-weight: 700;
}
.header__conteiner .submenu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  color: rgba(36, 36, 36, 0.5019607843);
  font-weight: 700;
}
.header__conteiner .nav-arrow {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.header__conteiner .nav__link:hover {
  color: black;
}
.header__conteiner .submenu a:hover {
  color: black;
}

.banner {
  background-image: url(../images/banner/banner-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1080px;
}

.banner__conteiner .banner__description {
  padding-top: 348px;
  width: 600px;
  line-height: 63px;
}
.banner__conteiner .banner__description h1 {
  font-size: 54px;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 700;
}
.banner__conteiner .banner__description p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #242424;
  color: #FFFFFF;
  font-family: Roboto;
  margin-bottom: 24px;
}
.banner__conteiner .banner__description a {
  font-family: Roboto;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 22px;
  padding: 28px 40px;
  border-radius: 0px 25px 25px 25px;
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #21B8FF 0%, #49C5FF 100%);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
          box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
}
.banner__conteiner .banner__description .banner__btn:hover {
  border-radius: 0px 25px 25px 25px;
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #1782b4 0%, #3388b0 100%);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
          box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
}

.header.open span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header.open span:nth-child(2) {
  opacity: 0;
}

.header.open span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.header.open span {
  background-color: #F5F5F5;
}

.partners__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  margin-top: 68px;
  height: 206px;
}

.carousel-slide img {
  display: block;
  width: 25%;
  float: left;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.about {
  background-image: url(../images/about/about-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  padding-top: 200px;
}
.about__conteiner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__conteiner li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__conteiner p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #242424;
  line-height: 27px;
  width: 452px;
}
.about__conteiner .block__img {
  z-index: 5;
}
.about__conteiner .elips1 {
  position: absolute;
  top: 165px;
}
.about__conteiner .elips2 {
  position: absolute;
  top: 165px;
  left: 785px;
}
.about__conteiner .elips3 {
  position: absolute;
  top: 165px;
}
.about__conteiner .about__quote-prapper {
  padding-bottom: 118px;
}
.about__conteiner .about__quote {
  position: relative;
  width: 753px;
  text-align: center;
  padding: 35px 47px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background: #FFFFFF;
  border-radius: 0px 25px;
  margin-top: 108px;
  margin-left: auto;
  margin-right: auto;
}
.about__conteiner .quote__img {
  position: absolute;
  top: -30px;
  left: 50%;
}
.about__conteiner .about__block {
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
.about__conteiner .about__block.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.about__conteiner .block-revers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  margin-top: 98px;
  margin-bottom: 50px;
  margin-bottom: 14px;
}
.projects__conteiner .swiper-container {
  overflow: hidden;
}
.projects__conteiner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__conteiner .project__desc-wrapper {
  width: 456px;
}
.projects__conteiner .project__albom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
      grid-template-areas: "project__img1 project__img2" "project__img1 project__img3";
}
.projects__conteiner .project__img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: project__img1;
  margin-right: -70px;
}
.projects__conteiner .project__img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: project__img2;
}
.projects__conteiner .project__img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: project__img3;
  margin-top: -65px;
}
.projects__conteiner h3 {
  color: #242424;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: 0.5px;
}
.projects__conteiner p {
  color: rgba(36, 36, 36, 0.7);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
}
.projects__conteiner .carousel-container {
  overflow: hidden;
  position: relative;
  max-width: 1128px;
  margin: 0 auto;
}
.projects__conteiner .carousel {
  min-width: 1128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.projects__conteiner .carousel-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
.projects__conteiner .prev-button,
.projects__conteiner .next-button {
  margin-top: 10px;
  position: absolute;
}
.projects__conteiner .prev-button {
  left: 10px;
}
.projects__conteiner .next-button {
  right: 10px;
}
.projects__conteiner .swiper-pagination {
  position: relative;
  bottom: 10px;
}
.projects__conteiner .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.projects__conteiner .swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.5);
}

.team__conteiner {
  height: 883px;
}
.team__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  padding-top: 100px;
}
.team__conteiner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__conteiner ul .item-two {
  margin-top: 125px;
}
.team__conteiner ul .item-three {
  margin-top: 200px;
}
.team__conteiner img {
  width: 360px;
  height: 377px;
}
.team__conteiner li {
  position: relative;
}
.team__conteiner .list__desc {
  position: absolute;
  width: 267px;
  height: 146px;
  background: #FFFFFF;
  border-radius: 0px 25px 25px 25px;
  top: 310px;
  left: 32px;
}
.team__conteiner .list__desc h3 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
  font-family: Roboto;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #242424;
}
.team__conteiner .list__desc p {
  margin-top: 16px;
  font-family: Roboto;
  color: rgba(36, 36, 36, 0.6980392157);
  line-height: 22px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 18px;
}

.awards__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 74px;
  position: relative;
  overflow: hidden;
}
.awards__conteiner .awards__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}
.awards__conteiner .awards__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 30s infinite linear;
          animation: slide 30s infinite linear;
}
.awards__conteiner .awards__slides img {
  width: 100%;
  height: auto;
  margin-right: 10px; /* Пространство между слайдами */
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Прокрутка на ширину слайда */
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); /* Прокрутка на ширину слайда */
  }
}

.help__conteiner {
  margin-top: 223px;
}
.help__conteiner h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 41px;
}
.help__conteiner .help__wrapper {
  width: 1128px;
  height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px 25px 0px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDF9FF), to(rgba(237, 249, 255, 0)));
  background: linear-gradient(180deg, #EDF9FF 0%, rgba(237, 249, 255, 0) 100%);
}
.help__conteiner .help__description {
  width: 550px;
  padding: 0 96px;
}
.help__conteiner .help__description h3 {
  color: #242424;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}
.help__conteiner .help__description p {
  color: rgba(36, 36, 36, 0.6980392157);
  font-size: 18px;
  font-family: Roboto;
  line-height: 140%;
  letter-spacing: 0.2px;
}
.help__conteiner .help__description a {
  color: #FFFFFF;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.2px;
  border-radius: 0px 25px 25px 25px;
  background: #021042;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
          box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
  padding: 25px;
  margin-top: 24px;
  display: inline-block;
}
.help__conteiner .description__btn:hover {
  border-radius: 0px 25px 25px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), #021042;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), #021042;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
          box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
}

.connection {
  background-image: url(../images/connection/connection-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.connection__conteiner .connection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  margin: 0 auto;
  width: 549px;
}
.connection__conteiner .connection__wrapper h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}
.connection__conteiner .connection__wrapper p {
  color: rgba(36, 36, 36, 0.6980392157);
  text-align: center;
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: 0.2px;
}
.connection__conteiner .connection__wrapper .connection__btn {
  font-family: Roboto;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 22px;
  padding: 28px 40px;
  background: linear-gradient(91.2deg, #21B8FF 0.86%, #49C5FF 99.38%);
  -webkit-box-shadow: 0px 5px 17px rgba(36, 36, 36, 0.1);
          box-shadow: 0px 5px 17px rgba(36, 36, 36, 0.1);
  border-radius: 0px 25px 25px 25px;
  margin: 0 auto;
  margin-top: 34px;
  display: inline-block;
  margin-bottom: 50px;
}
.connection__conteiner .connection__wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 394px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 72px;
}
.connection__conteiner .connection__wrapper .social .social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.connection__conteiner .connection__btn:hover {
  border-radius: 0px 25px 25px 25px;
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #21B8FF 0%, #49C5FF 100%);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
          box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
}

.footer__conteiner {
  margin-top: 50px;
}
.footer__conteiner .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 82px;
  border-bottom: 2px solid rgba(36, 36, 36, 0.2509803922);
}
.footer__conteiner .footer__top .footer__desription h4 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 16px;
  color: #242424;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 24.1px;
  letter-spacing: 0.2px;
}
.footer__conteiner .footer__top .footer__desription p {
  color: rgba(36, 36, 36, 0.6980392157);
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24.1px;
  letter-spacing: 0.2px;
  width: 360px;
  margin-top: 15px;
}
.footer__conteiner .footer__top .footer__contacts {
  text-align: right;
}
.footer__conteiner .footer__top .footer__contacts h4 {
  color: #242424;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}
.footer__conteiner .footer__top .footer__contacts p {
  color: #242424;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
  margin-right: 10px;
}
.footer__conteiner .footer__top .footer__contacts .footer__adress {
  display: inline-block;
}
.footer__conteiner .footer__top .footer__contacts .footer__phone {
  display: inline-block;
}
.footer__conteiner .footer__top .footer__contacts .footer__email {
  display: inline-block;
}
.footer__conteiner .footer__copyright-block {
  height: 70px;
}
.footer__conteiner .footer__copyright-block .footer__copyright-text {
  margin-top: 39px;
  color: #242424;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
}

@media (max-width: 1592px) and (min-width: 1440px) {
  ._conteiner {
    max-width: 1126px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 1439px) and (min-width: 1280px) {
  ._conteiner {
    max-width: 936px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .projects__conteiner h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 34px;
    margin-top: 98px;
    margin-bottom: 50px;
    margin-bottom: 14px;
  }
  .projects__conteiner .swiper-slide {
    display: block;
  }
  .projects__conteiner .project__desc-wrapper {
    width: 100%;
    margin-bottom: 60px;
  }
  .projects__conteiner .project__img1 {
    width: 447px;
  }
  .projects__conteiner .project__img2 {
    width: 447px;
  }
  .projects__conteiner .project__img3 {
    width: 447px;
  }
  .team .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .help .help__wrapper {
    width: 936px;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 585px;
  }
}
@media (max-width: 1279px) and (min-width: 991px) {
  .header {
    position: relative;
    border-bottom: 1px solid #000;
  }
  ._conteiner {
    max-width: 834px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .banner {
    background-image: none;
  }
  .banner .banner__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    width: 552px;
    background-image: url(../images/banner/banner-img2.svg);
    background-position: 70px 400px;
    background-size: 420px;
    background-repeat: no-repeat;
    height: 830px;
  }
  .banner .banner__description .banner__title {
    font-size: 34px;
    color: #242424;
    width: 380px;
    margin: auto;
    color: #242424;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .banner .banner__description .banner__subtitle {
    font-size: 15px;
    color: rgba(36, 36, 36, 0.75);
    color: rgba(36, 36, 36, 0.75);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.2px;
    margin-top: 24px;
  }
  .banner .banner__description .banner__btn {
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    padding-top: 24px;
  }
  .partners {
    margin-top: -270px;
  }
  .partners .partners__title {
    margin-bottom: -55px;
  }
  .about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 485px;
  }
  .about__conteiner .block-revers .desc-revers {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  .about__conteiner .block-revers .img-revers {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .about__conteiner .about__block {
    display: block;
  }
  .about__conteiner .about__block .block__img {
    width: 837px;
    height: 435px;
    z-index: 20000;
  }
  .about__conteiner .about__block .elips1, .about__conteiner .about__block .elips2, .about__conteiner .about__block .elips3 {
    display: none;
  }
  .about__conteiner .about__block .block__desc {
    width: 780px;
    text-align: left;
    margin-left: 30px;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__desc-wrapper .project__name {
    font-size: 22px;
  }
  .project__desc-wrapper .project__desc {
    font-size: 15px;
    width: 775px;
  }
  .team__conteiner .team__list {
    width: 800px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__conteiner .list__item {
    width: 310px;
  }
  .help .help__title {
    margin-top: 167px;
  }
  .help .help__wrapper {
    width: 694px;
    margin: 0 auto;
    height: 301px;
  }
  .help .help__description {
    padding: 0 70px;
  }
  .help .help__description .description__title {
    font-size: 22px;
  }
  .help .help__description .description__text {
    font-size: 15px;
  }
  .help .help__description .description__btn {
    width: 195.66px;
    height: 55px;
    font-size: 15px;
    border-radius: 0px 18.528px 18.528px 18.528px;
    background: #021042;
    -webkit-box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
  }
  .help .help__image {
    width: 266px;
  }
  .connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connection .connection__conteiner .connection__title {
    font-size: 27px;
  }
  .connection .connection__conteiner .connection__text {
    font-size: 15px;
    line-height: 24px;
  }
  .connection .connection__conteiner .connection__btn {
    padding: 24px 36px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    font-size: 18px;
  }
  .header.open nav {
    top: 0;
    visibility: visible;
  }
  .header .header__burger-btn {
    display: block;
    position: absolute;
    right: 40px;
  }
  .nav {
    position: absolute;
    top: -180px;
    right: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.5019607843);
    margin: 0 auto;
    height: 180px;
    visibility: hidden;
    -webkit-transition: top 0.5s, visibility 0.5s;
    transition: top 0.5s, visibility 0.5s;
    will-change: transform;
  }
  .nav .nav__items {
    display: block;
  }
  .nav .nav__link {
    color: #F5F5F5;
    display: block;
    padding: 13px;
  }
}
@media (max-width: 990px) and (min-width: 890px) {
  .header {
    position: relative;
    border-bottom: 1px solid #000;
  }
  ._conteiner {
    max-width: 834px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  ._conteiner .header__languages {
    margin-right: 70px;
  }
  .header.open nav {
    top: 0;
    visibility: visible;
  }
  .header .header__burger-btn {
    display: block;
    position: absolute;
    right: 40px;
  }
  .nav {
    position: absolute;
    top: -180px;
    right: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.5019607843);
    margin: 0 auto;
    height: 180px;
    visibility: hidden;
    -webkit-transition: top 0.5s, visibility 0.5s;
    transition: top 0.5s, visibility 0.5s;
    will-change: transform;
  }
  .nav .nav__items {
    display: block;
  }
  .nav .nav__link {
    color: #F5F5F5;
    display: block;
    padding: 13px;
  }
  .banner {
    background-image: none;
  }
  .banner .banner__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    width: 552px;
    background-image: url(../images/banner/banner-img2.svg);
    background-position: 70px 400px;
    background-size: 420px;
    background-repeat: no-repeat;
    height: 830px;
  }
  .banner .banner__description .banner__title {
    font-size: 34px;
    color: #242424;
    width: 380px;
    margin: auto;
    color: #242424;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .banner .banner__description .banner__subtitle {
    font-size: 15px;
    color: rgba(36, 36, 36, 0.75);
    color: rgba(36, 36, 36, 0.75);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.2px;
    margin-top: 24px;
  }
  .banner .banner__description .banner__btn {
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    padding-top: 24px;
  }
  .partners .partners__title {
    font-size: 27px;
    margin-top: -200px;
  }
  .about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about__conteiner .about__title {
    font-size: 27px;
    margin-bottom: 50px;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 485px;
  }
  .about__conteiner .block-revers .desc-revers {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  .about__conteiner .block-revers .img-revers {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .about__conteiner .about__block {
    display: block;
  }
  .about__conteiner .about__block .block__img {
    width: 604px;
    height: 364 px;
    z-index: 20000;
    display: block;
    margin: 0 auto;
  }
  .about__conteiner .about__block .elips1, .about__conteiner .about__block .elips2, .about__conteiner .about__block .elips3 {
    display: none;
  }
  .about__conteiner .about__block .block__desc {
    width: 680px;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
  }
  .about__conteiner .about__quote {
    font-size: 15px;
    padding: 35px 47px;
    border-radius: 0px 25px;
    background: #FFF;
    width: 604px;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__desc-wrapper .project__name {
    font-size: 22px;
  }
  .project__desc-wrapper .project__desc {
    font-size: 15px;
    width: 775px;
  }
  .team__conteiner .team__list {
    width: 400px;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__conteiner .team__list .item-two {
    margin-top: 52px;
  }
  .team__conteiner .team__list .item-three {
    margin-top: 110px;
  }
  .team__conteiner .list__item {
    width: 310px;
  }
  .team__conteiner .list__img {
    width: 222px;
    height: 232px;
  }
  .team__conteiner .list__desc {
    position: absolute;
    width: 165px;
    height: 146px;
    background: #FFFFFF;
    border-radius: 0px 25px 25px 25px;
    top: 182px;
    left: 20px;
  }
  .team__conteiner .list__desc .list__name {
    font-size: 15px;
    margin-top: 5px;
  }
  .team__conteiner .list__desc .list__subname {
    font-size: 13px;
    margin: 0;
  }
  .awards__conteiner .awards__title {
    font-size: 27px;
    margin-top: -173px;
  }
  .help .help__title {
    margin-top: 167px;
    font-size: 27px;
  }
  .help .help__wrapper {
    width: 694px;
    margin: 0 auto;
    height: 301px;
  }
  .help .help__description {
    padding: 0 70px;
  }
  .help .help__description .description__title {
    font-size: 22px;
  }
  .help .help__description .description__text {
    font-size: 15px;
  }
  .help .help__description .description__btn {
    width: 195.66px;
    height: 55px;
    font-size: 15px;
    border-radius: 0px 18.528px 18.528px 18.528px;
    background: #021042;
    -webkit-box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
  }
  .help .help__image {
    width: 266px;
  }
  .connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connection .connection__conteiner .connection__title {
    font-size: 27px;
  }
  .connection .connection__conteiner .connection__text {
    font-size: 15px;
    line-height: 24px;
  }
  .connection .connection__conteiner .connection__btn {
    padding: 24px 36px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    font-size: 18px;
  }
}
@media (max-width: 889px) and (min-width: 750px) {
  .header {
    position: relative;
    border-bottom: 1px solid #000;
  }
  ._conteiner {
    max-width: 670 px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  ._conteiner .header__languages {
    margin-right: 100px;
  }
  .header.open nav {
    top: 0;
    visibility: visible;
  }
  .header .header__burger-btn {
    display: block;
    position: absolute;
    right: 40px;
  }
  .nav {
    position: absolute;
    top: -180px;
    right: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.5019607843);
    margin: 0 auto;
    height: 180px;
    visibility: hidden;
    -webkit-transition: top 0.5s, visibility 0.5s;
    transition: top 0.5s, visibility 0.5s;
    will-change: transform;
  }
  .nav .nav__items {
    display: block;
  }
  .nav .nav__link {
    color: #F5F5F5;
    display: block;
    padding: 13px;
  }
  .banner {
    background-image: none;
  }
  .banner .banner__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    width: 552px;
    background-image: url(../images/banner/banner-img2.svg);
    background-position: 70px 400px;
    background-size: 420px;
    background-repeat: no-repeat;
    height: 830px;
  }
  .banner .banner__description .banner__title {
    font-size: 34px;
    color: #242424;
    width: 380px;
    margin: auto;
    color: #242424;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .banner .banner__description .banner__subtitle {
    font-size: 15px;
    color: rgba(36, 36, 36, 0.75);
    color: rgba(36, 36, 36, 0.75);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.2px;
    margin-top: 24px;
  }
  .banner .banner__description .banner__btn {
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    padding-top: 24px;
  }
  .partners .partners__title {
    font-size: 27px;
    margin-top: -200px;
  }
  .about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about__conteiner .about__title {
    font-size: 27px;
    margin-bottom: 50px;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 485px;
  }
  .about__conteiner .block-revers .desc-revers {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  .about__conteiner .block-revers .img-revers {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .about__conteiner .about__block {
    display: block;
  }
  .about__conteiner .about__block .block__img {
    width: 670px;
    height: 435px;
    z-index: 20000;
    display: block;
    margin: 0 auto;
  }
  .about__conteiner .about__block .elips1, .about__conteiner .about__block .elips2, .about__conteiner .about__block .elips3 {
    display: none;
  }
  .about__conteiner .about__block .block__desc {
    width: 670px;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
  }
  .about__conteiner .about__quote {
    font-size: 15px;
    padding: 35px 47px;
    border-radius: 0px 25px;
    background: #FFF;
    width: 604px;
  }
  .projects__title {
    margin-bottom: 55px;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__desc-wrapper .project__name {
    font-size: 22px;
  }
  .project__desc-wrapper .project__desc {
    font-size: 15px;
    width: 670px;
  }
  .project__desc-wrapper .project__albom {
    margin: 0 auto;
  }
  .team__conteiner .team__list {
    width: 400px;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__conteiner .team__list .item-two {
    margin-top: 52px;
  }
  .team__conteiner .team__list .item-three {
    margin-top: 110px;
  }
  .team__conteiner .list__item {
    width: 310px;
  }
  .team__conteiner .list__img {
    width: 222px;
    height: 232px;
  }
  .team__conteiner .list__desc {
    position: absolute;
    width: 165px;
    height: 146px;
    background: #FFFFFF;
    border-radius: 0px 25px 25px 25px;
    top: 182px;
    left: 20px;
  }
  .team__conteiner .list__desc .list__name {
    font-size: 15px;
    margin-top: 5px;
  }
  .team__conteiner .list__desc .list__subname {
    font-size: 13px;
    margin: 0;
  }
  .awards__conteiner .awards__title {
    font-size: 27px;
    margin-top: -173px;
  }
  .help .help__title {
    margin-top: 167px;
    font-size: 27px;
  }
  .help .help__wrapper {
    width: 694px;
    margin: 0 auto;
    height: 301px;
  }
  .help .help__description {
    padding: 0 70px;
  }
  .help .help__description .description__title {
    font-size: 22px;
  }
  .help .help__description .description__text {
    font-size: 15px;
  }
  .help .help__description .description__btn {
    width: 195.66px;
    height: 55px;
    font-size: 15px;
    border-radius: 0px 18.528px 18.528px 18.528px;
    background: #021042;
    -webkit-box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
  }
  .help .help__image {
    width: 266px;
  }
  .connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connection .connection__conteiner .connection__title {
    font-size: 27px;
  }
  .connection .connection__conteiner .connection__text {
    font-size: 15px;
    line-height: 24px;
  }
  .connection .connection__conteiner .connection__btn {
    padding: 24px 36px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    font-size: 18px;
  }
}
@media (max-width: 749px) and (min-width: 478px) {
  .header {
    position: relative;
    border-bottom: 1px solid #000;
  }
  ._conteiner {
    max-width: 379px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  ._conteiner .header__flex-conteiner {
    width: 200px;
  }
  .header.open nav {
    top: 0;
    visibility: visible;
  }
  .header .header__burger-btn {
    display: block;
    position: absolute;
    right: 40px;
  }
  .nav {
    position: absolute;
    top: -180px;
    right: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.5019607843);
    margin: 0 auto;
    height: 180px;
    visibility: hidden;
    -webkit-transition: top 0.5s, visibility 0.5s;
    transition: top 0.5s, visibility 0.5s;
    will-change: transform;
  }
  .nav .nav__items {
    display: block;
  }
  .nav .nav__link {
    color: #F5F5F5;
    display: block;
    padding: 13px;
  }
  .banner {
    background-image: none;
  }
  .banner .banner__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 109px;
    width: 379px;
    background-image: url(../images/banner/banner-img2.svg);
    background-position: 1px 400px;
    background-size: 380px;
    background-repeat: no-repeat;
    height: 830px;
  }
  .banner .banner__description .banner__title {
    font-size: 1.688em;
    color: #242424;
    width: 380px;
    margin: auto;
    color: #242424;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .banner .banner__description .banner__subtitle {
    font-size: 13px;
    color: rgba(36, 36, 36, 0.75);
    color: rgba(36, 36, 36, 0.75);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.2px;
    margin-top: 24px;
  }
  .banner .banner__description .banner__btn {
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    padding-top: 24px;
  }
  .partners .partners__title {
    font-size: 22px;
    margin-top: -200px;
  }
  .about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about__conteiner {
    width: 379px;
  }
  .about__conteiner .about__title {
    font-size: 27px;
    margin-bottom: 50px;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 485px;
  }
  .about__conteiner .block-revers .desc-revers {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  .about__conteiner .block-revers .img-revers {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .about__conteiner .about__blocks {
    width: 379px;
  }
  .about__conteiner .about__block {
    display: block;
  }
  .about__conteiner .about__block .block__img {
    width: 379px;
    height: 300px;
    z-index: 20000;
    display: block;
    margin: 0 auto;
  }
  .about__conteiner .about__block .elips1, .about__conteiner .about__block .elips2, .about__conteiner .about__block .elips3 {
    display: none;
  }
  .about__conteiner .about__block .block__desc {
    width: 379px;
    text-align: left;
    margin: 0 auto;
    font-size: 13px;
  }
  .about__conteiner .about__quote {
    font-size: 13px;
    padding: 35px 47px;
    border-radius: 0px 25px;
    background: #FFF;
    width: 379px;
  }
  .projects__conteiner .projects__title {
    font-size: 22px;
    margin-bottom: 55px;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 379px;
  }
  .swiper-slide .project__img1 {
    display: block;
    width: 181px;
    height: 292px;
  }
  .swiper-slide .project__img2 {
    display: block;
    width: 178px;
    height: 186px;
  }
  .swiper-slide .project__img3 {
    display: block;
    width: 189px;
    height: 129px;
  }
  .swiper-slide .project__albom {
    margin: 0 auto;
    gap: 37px;
  }
  .project__desc-wrapper {
    width: 379px;
  }
  .project__desc-wrapper .project__name {
    font-size: 18px;
  }
  .project__desc-wrapper .project__desc {
    font-size: 13px;
    width: 316px;
  }
  .team__conteiner .team__title {
    margin-bottom: 50px;
    font-size: 22px;
  }
  .team__conteiner .team__list {
    width: 220px;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__conteiner .team__list .item-two {
    margin-top: 52px;
  }
  .team__conteiner .team__list .item-three {
    margin-top: 63px;
  }
  .team__conteiner .list__item {
    width: 310px;
  }
  .team__conteiner .list__img {
    width: 222px;
    height: 232px;
  }
  .team__conteiner .list__desc {
    position: absolute;
    width: 165px;
    height: 146px;
    background: #FFFFFF;
    border-radius: 0px 25px 25px 25px;
    top: 182px;
    left: 20px;
  }
  .team__conteiner .list__desc .list__name {
    font-size: 15px;
    margin-top: 5px;
  }
  .team__conteiner .list__desc .list__subname {
    font-size: 13px;
    margin: 0;
  }
  .awards__conteiner .awards__title {
    font-size: 22px;
    margin-top: 283px;
  }
  .awards__conteiner .awards__slider .awards__slides {
    width: 400px;
  }
  .help .help__title {
    margin-top: 167px;
    font-size: 22px;
  }
  .help .help__wrapper {
    width: 379px;
    margin: 0 auto;
    height: 301px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 478px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help .help__description {
    margin-top: -50px;
    text-align: center;
    padding: 0 70px;
  }
  .help .help__description .description__title {
    font-size: 22px;
    margin-top: 15px;
  }
  .help .help__description .description__text {
    font-size: 13px;
  }
  .help .help__description .description__btn {
    padding: 18.53px;
    font-size: 13px;
    border-radius: 0px 18.528px 18.528px 18.528px;
    background: #021042;
    -webkit-box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
  }
  .help .help__image {
    width: 266px;
    margin-top: -150px;
  }
  .connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connection .connection__conteiner .connection__wrapper {
    width: 379px;
  }
  .connection .connection__conteiner .connection__title {
    font-size: 22px;
  }
  .connection .connection__conteiner .connection__text {
    font-size: 13px;
    line-height: 24px;
  }
  .connection .connection__conteiner .connection__btn {
    padding: 24px 36px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    font-size: 18px;
  }
  .footer__conteiner {
    width: 379px;
  }
  .footer__conteiner .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .footer__conteiner .footer__top .footer__contacts {
    -moz-text-align-last: left;
         text-align-last: left;
    margin-top: 41px;
  }
}
@media (max-width: 477px) and (min-width: 360px) {
  .header {
    position: relative;
    border-bottom: 1px solid #000;
  }
  ._conteiner {
    max-width: 310px;
    margin: 0 auto;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  ._conteiner .header__flex-conteiner {
    width: 200px;
  }
  .header.open nav {
    top: 0;
    visibility: visible;
  }
  .header .header__burger-btn {
    display: block;
    position: absolute;
    right: 5px;
  }
  .nav {
    position: absolute;
    top: -180px;
    right: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.5019607843);
    margin: 0 auto;
    height: 180px;
    visibility: hidden;
    -webkit-transition: top 0.5s, visibility 0.5s;
    transition: top 0.5s, visibility 0.5s;
    will-change: transform;
  }
  .nav .nav__items {
    display: block;
  }
  .nav .nav__link {
    color: #F5F5F5;
    display: block;
    padding: 13px;
  }
  .banner {
    background-image: none;
  }
  .banner .banner__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
    width: 310px;
    background-image: url(../images/banner/banner-img2.svg);
    background-position: 0px 380px;
    background-size: 310px;
    background-repeat: no-repeat;
    height: 830px;
  }
  .banner .banner__description .banner__title {
    color: #242424;
    width: 310px;
    margin: auto;
    color: #242424;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .banner .banner__description .banner__subtitle {
    font-size: 13px;
    color: rgba(36, 36, 36, 0.75);
    color: rgba(36, 36, 36, 0.75);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21px */
    letter-spacing: 0.2px;
    margin-top: 24px;
  }
  .banner .banner__description .banner__btn {
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    padding: 24px 36px;
    font-size: 13px;
  }
  .partners .partners__title {
    font-size: 18px;
    margin-top: -300px;
  }
  .partners .carousel-slide img {
    display: block;
    width: 100%;
    float: left;
  }
  .partners .slick-slider {
    margin-top: -130px;
  }
  .partners .slick-slider .img1, .partners .slick-slider .img2 {
    display: none;
  }
  .partners .slick-slider img {
    width: 100px;
  }
  .about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .about__conteiner {
    width: 310px;
  }
  .about__conteiner .about__title {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .about__conteiner .elips2 {
    position: absolute;
    top: 165px;
    left: 485px;
  }
  .about__conteiner .block-revers .desc-revers {
    -webkit-box-ordinal-group: 201;
        -ms-flex-order: 200;
            order: 200;
  }
  .about__conteiner .block-revers .img-revers {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .about__conteiner .about__blocks {
    width: 310px;
  }
  .about__conteiner .about__block {
    display: block;
  }
  .about__conteiner .about__block .block__img {
    width: 310px;
    height: 250px;
    z-index: 20000;
    display: block;
    margin: 0 auto;
  }
  .about__conteiner .about__block .elips1, .about__conteiner .about__block .elips2, .about__conteiner .about__block .elips3 {
    display: none;
  }
  .about__conteiner .about__block .block__desc {
    width: 310px;
    text-align: left;
    margin: 0 auto;
    font-size: 13px;
    line-height: 24px;
  }
  .about__conteiner .about__quote {
    font-size: 13px;
    padding: 35px 47px;
    border-radius: 0px 25px;
    background: #FFF;
    width: 280px;
    line-height: 23px;
  }
  .about__conteiner .about__quote .quote__img {
    position: absolute;
    left: 45%;
  }
  .projects__conteiner {
    width: 320px;
  }
  .projects__conteiner .projects__title {
    font-size: 18px;
    margin-bottom: 55px;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
    margin: 0 auto;
  }
  .swiper-slide .project__img1 {
    display: block;
    width: 300px;
    height: 292px;
  }
  .swiper-slide .project__img2 {
    display: none;
    width: 178px;
    height: 186px;
  }
  .swiper-slide .project__img3 {
    display: none;
    width: 189px;
    height: 129px;
  }
  .swiper-slide .project__albom {
    margin: 0 -17%;
    gap: 37px;
  }
  .project__desc-wrapper {
    width: 310px;
  }
  .project__desc-wrapper .project__name {
    font-size: 18px;
  }
  .project__desc-wrapper .project__desc {
    font-size: 13px;
    width: 243px;
  }
  .team__conteiner .team__title {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .team__conteiner .team__list {
    width: 220px;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__conteiner .team__list .item-two {
    margin-top: 52px;
  }
  .team__conteiner .team__list .item-three {
    margin-top: 63px;
  }
  .team__conteiner .list__item {
    width: 310px;
  }
  .team__conteiner .list__img {
    width: 222px;
    height: 232px;
  }
  .team__conteiner .list__desc {
    position: absolute;
    width: 165px;
    height: 146px;
    background: #FFFFFF;
    border-radius: 0px 25px 25px 25px;
    top: 182px;
    left: 20px;
  }
  .team__conteiner .list__desc .list__name {
    font-size: 15px;
    margin-top: 5px;
  }
  .team__conteiner .list__desc .list__subname {
    font-size: 13px;
    margin: 0;
  }
  .awards__conteiner .awards__title {
    font-size: 18px;
    margin-top: 283px;
  }
  .awards__conteiner .awards__slider .awards__slides {
    width: 400px;
  }
  .help .help__title {
    margin-top: 167px;
    font-size: 18px;
  }
  .help .help__wrapper {
    width: 310px;
    margin: 0 auto;
    height: 301px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 478px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help .help__description {
    margin-top: -50px;
    text-align: center;
    padding: 0 70px;
  }
  .help .help__description .description__title {
    font-size: 15px;
    margin-top: 15px;
  }
  .help .help__description .description__text {
    font-size: 13px;
  }
  .help .help__description .description__btn {
    padding: 18.53px;
    font-size: 13px;
    border-radius: 0px 18.528px 18.528px 18.528px;
    background: #021042;
    -webkit-box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
  }
  .help .help__image {
    width: 266px;
    margin-top: -150px;
  }
  .connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .connection .connection__conteiner .connection__wrapper {
    width: 310px;
  }
  .connection .connection__conteiner .connection__title {
    font-size: 18px;
  }
  .connection .connection__conteiner .connection__text {
    font-size: 13px;
    line-height: 24px;
  }
  .connection .connection__conteiner .connection__btn {
    padding: 24px 36px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
    -webkit-box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.1);
    font-size: 18px;
  }
  .connection .connection__conteiner .connection__social {
    width: 310px;
  }
  .connection .connection__conteiner .connection__social .social__text {
    font-size: 13px;
  }
  .connection .connection__conteiner .connection__social .social__img {
    width: 40px;
    height: 40px;
  }
  .footer__conteiner {
    width: 310px;
  }
  .footer__conteiner .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .footer__conteiner .footer__top .footer__desription .footer__title {
    font-size: 18px;
  }
  .footer__conteiner .footer__top .footer__desription .footer__text {
    font-size: 13px;
    width: 266px;
  }
  .footer__conteiner .footer__top .footer__contacts {
    -moz-text-align-last: left;
         text-align-last: left;
    margin-top: 41px;
  }
  .footer__conteiner .footer__top .footer__contacts .footer__contacts-title {
    font-size: 15px;
  }
  .footer__conteiner .footer__top .footer__contacts .footer__adress-block p {
    font-size: 13px;
  }
  .footer__conteiner .footer__top .footer__contacts .footer__phone-block p {
    font-size: 13px;
  }
  .footer__conteiner .footer__top .footer__contacts .footer__email-block p {
    font-size: 13px;
  }
  .footer__conteiner .footer__copyright-block .footer__copyright-text {
    font-size: 13px;
  }
}