@import 'nullstyle';
@import 'variables';
@import 'mixins';

// --------------------------------------------------

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

// ----------------------------------------------------

._conteiner {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

// ------------------------HEADER-----------------------------

.header {
    height: 100px;
}

.header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;


        ul {
            display: flex;
            justify-content: space-between;
            width: 428px;
        }

        .nav-arrow {
            margin-top: 5px;
        }

        .header__flex-conteiner {
            display: flex;
            justify-content: space-between;
            width: 540px;
            align-items: center;
        }

        .nav__link {
            font-family: $main-font-family;
            font-size: $menu-size;
            color: $menu-color;
            font-weight: $post-second-font-weight;
        }

        .languages__ua {
            border: 3px  #EEF8FD solid;
            border-radius: 25px 0px 0px 25px;
            padding: 7px;
            color: $text-desc-color;
            font-weight: $post-second-font-weight;
            font-family: $main-font-family;
        }

        .languages__en {
            background: #EEF8FD;
            border: 3px  #EEF8FD solid;
            padding: 7px;
            border-radius: 0px 25px 25px 0px;
            color: $text-desc-color;
            font-weight: $post-second-font-weight;
            font-family: $main-font-family;
        }
}


// ------------------------BANNER-----------------------------


.banner {
    background-image: url(../images/banner/banner-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1080px;
}

.banner__conteiner {

    .banner__description {
        padding-top: 348px;
        width: 600px;
        line-height: 63px;

        h1 {
            font-size: $title-size;
            color: $title-color;
            font-family: $main-font-family;
            font-weight: $main-font-weight;
        }

        p {
            @include desc-styles;
            color: $title-color;
            font-family: $main-font-family;
            margin-bottom: 24px;
        }

        a {
            font-family: $main-font-family;
            font-weight: $post-second-font-weight;
            color: $title-color;
            font-size: $btn-tg-size;
            padding: 28px 40px;
            background: linear-gradient(91.2deg, #21B8FF 0.86%, #49C5FF 99.38%);
            box-shadow: 0px 5px 17px rgba(36, 36, 36, 0.1);
            border-radius: 0px 25px 25px 25px;
        }
    }
}



// ------------------------PARTNERS-----------------------------


.partners__conteiner {

    h2 {
        @include blocks-title;
        margin-top: 68px;
        height: 206px;
    }
}

.carousel-slide img {
    display: block;
    width: 25%;
    float: left;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    line-height: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }


// ------------------------ABOUT-----------------------------



.about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__conteiner {

    h2{
        @include blocks-title;
        padding-top: 200px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    li {position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        @include desc-styles;
        line-height: 27px;
        width: 452px;
    }

    .block__img {
        
        z-index: 5;
    }

    .elips1 {
        position: absolute;
        top: 165px;
    }

    .elips2 {
        position: absolute;
        top: 165px;
        left: 785px;
    }

    .elips3 {
        position: absolute;
        top: 165px;
    }

    .about__quote-prapper {
        padding-bottom: 118px;
    }

    .about__quote {
        position: relative;
        width: 753px;
        text-align: center;
        padding: 35px 47px;
        font-size: $main-size;
        line-height: 28px;
        font-weight: $post-second-font-weight;
        letter-spacing: 0.5px;
        background: #FFFFFF;
        border-radius: 0px 25px;
        margin-top: 108px;
        margin-left: auto;
        margin-right: auto;
    }

    .quote__img {
        position: absolute;
        top: -30px;
        left: 50%;
    }
}




// ------------------------PROJECTS-----------------------------



.projects__conteiner {

    h2 {
        @include blocks-title;
        margin-top: 98px;
        margin-bottom: 50px;
    }

    .projects__albom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
                            'projects__photo1 projects__photo2'
                            'projects__photo1 projects__photo3';
        
    }

    .projects__photo1 {
        grid-area: projects__photo1;
    }

    .projects__photo2 {
        grid-area: projects__photo2;
    }

    .projects__photo3 {
        grid-area: projects__photo3;
    }
}



// ------------------------TEAM-----------------------------



.team__conteiner {
    height: 883px;

    h2 {
        @include blocks-title;
        padding-top: 100px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            .item-two {
                margin-top: 125px;
            }

            .item-three {
                margin-top: 200px;
            }
    }
    img {
        width: 360px;
        height: 377px;
    }

    li {
        position: relative;
    }

    .list__desc {
        position: absolute;
        width: 267px;
        height: 146px;
        background: #FFFFFF;
        border-radius: 0px 25px 25px 25px;
        top: 310px;
        left: 32px;

            h3 {
                margin-top: 30px;
                font-size: $btn-tg-size;
                font-weight: $main-font-weight;
                font-family: $main-font-family;
                line-height: 27px;
                letter-spacing: 0.5px;  
                color: $text-desc-color;
            }

            p {
                margin-top: 16px;
                font-family: $main-font-family;
                color: $job_color;
                line-height: 22px;
                letter-spacing: 0.5px;
                font-weight: $main-font-weight;
                font-size: $main-size;
            }
    }
}


// ------------------------AWARDS-----------------------------


.awards__conteiner {

    h2 {
        @include blocks-title;
        margin-bottom: 958px; // vremenno
    }
}



// ------------------------HELP-----------------------------



.help__conteiner {

    margin-top: 223px;

    h2 {
        @include blocks-title;
        margin-bottom: 41px;
    }

    .help__wrapper {
        width: 1128px;
        height: 408px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 25px 25px 0px 0px;
        background: linear-gradient(180deg, #EDF9FF 0%, rgba(237, 249, 255, 0.00) 100%);
    }

    .help__description {
        width: 550px;
        padding: 0 96px;

            h3 {
                color: #242424;
                font-size: $help-fond-name-proj-size;
                font-family: $main-font-family;
                font-weight: $main-font-weight;
                letter-spacing: 0.2px;
                margin-bottom: 12px;
            }

            p {
                color: $job_color;
                font-size: $main-size;
                font-family: $main-font-family;
                line-height: 140%;
                letter-spacing: 0.2px;
            }

            a {
                color: $title-color;
                font-size: $main-size;
                font-family: $main-font-family;
                font-weight: $main-font-weight;
                letter-spacing: 0.2px;
                border-radius: 0px 25px 25px 25px;
                background: $block-titles-color;
                box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
                padding: 25px;
                margin-top: 24px;
                display: inline-block;
            }
    }
}



// ------------------------CONNECTION-----------------------------


.connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.connection__conteiner {

    .connection__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        margin: 0 auto;
        width: 549px;

            h2 {
                @include blocks-title;
                letter-spacing: 0.2px;
                margin-bottom: 24px;
            }

            p {
                color: $job_color;
                text-align: center;
                font-size: $main-size;
                font-family: $main-font-family;
                letter-spacing: 0.2px;
            }

            a {
                font-family: $main-font-family;
                font-weight: $post-second-font-weight;
                color: $title-color;
                font-size: $btn-tg-size;
                padding: 28px 40px;
                background: linear-gradient(91.2deg, #21B8FF 0.86%, #49C5FF 99.38%);
                box-shadow: 0px 5px 17px rgba(36, 36, 36, 0.1);
                border-radius: 0px 25px 25px 25px;
                margin: 0 auto;
                margin-top: 34px;
                display: inline-block;
                margin-bottom: 50px;
            }

            .social {
                display: flex;
                width: 394px;
                justify-content: space-between;
                margin: 0 auto;
                padding-bottom: 72px;

                    .social__wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
            }
    }
}




// ------------------------FOOTER-----------------------------



.footer__conteiner {
    margin-top: 50px;

        .footer__top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 82px;
            border-bottom: 2px solid #24242440;

                .footer__desription {
                    h4 {
                        display: inline-block;
                        margin-top: 20px;
                        margin-left: 16px;
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $main-font-weight;
                        line-height: 24.1px;
                        letter-spacing: 0.2px;
                    }

                    p {
                        color: $job_color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $second-font-weight;
                        line-height: 24.1px;
                        letter-spacing: 0.2px;
                        width: 360px;
                        margin-top: 15px;
                    }
                }

                .footer__contacts {
                    text-align: right;
                    h4 {
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $main-font-weight;
                        line-height: 26px;
                        letter-spacing: 0.2px;
                        margin-bottom: 15px;
                    }

                    p {
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $second-font-weight;
                        line-height: 26px;
                        letter-spacing: 0.2px;
                        margin-bottom: 15px;
                        margin-right: 10px;
                    }

                    .footer__adress {
                        display: inline-block;
                    }

                    .footer__phone {
                        display: inline-block;
                    }

                    .footer__email {
                        display: inline-block;
                    }
                }
        }

        .footer__copyright-block {
            height: 70px;

                .footer__copyright-text {
                    margin-top: 39px;
                    color: $text-desc-color;
                    font-size: $main-size;
                    font-family: $main-font-family;
                    font-style: normal;
                    font-weight: $second-font-weight;
                    line-height: 26px;
                    letter-spacing: 0.2px;
                }
        }
}

