@import 'nullstyle';
@import 'variables';
@import 'mixins';

// --------------------------------------------------

.wrapper {
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    position: relative;
    overflow: hidden;
}

// ----------------------------------------------------

._conteiner {
    max-width: 1285px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

// ------------------------HEADER-----------------------------

.header {
    height: 101px;
}

.header__conteiner {
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;


        ul {
            display: flex;
            justify-content: space-between;
            width: 428px;
        }

        .nav-arrow {
            margin-top: 5px;
        }

        .header__flex-conteiner {
            display: flex;
            justify-content: space-between;
            width: 540px;
            align-items: center;
        }

        .nav__link {
            font-family: $main-font-family;
            font-size: $menu-size;
            color: $menu-color;
            font-weight: $main-font-weight;
        }


        .header__burger-btn {
            display: none;
            position: relative;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            outline: none;
            z-index: 5;

                span {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: $job_color;
                    top: 18px;
                    left: 5px;
                    transition: background-color .2s, opasity .25s, transform .5s;
                    will-change: transform ;
                }

                span:nth-child(1) {
                    transform: translateY(-10px);
                }

                span:nth-child(3) {
                    transform: translateY(10px);
                }

                //===

                
        }


        .languages__ua {
            border: 3px  #EEF8FD solid;
            border-radius: 25px 0px 0px 25px;
            padding: 7px;
            color: $text-desc-color;
            font-family: $main-font-family;
        }

        .languages__en {
            background: #EEF8FD;
            border: 3px  #EEF8FD solid;
            padding: 7px;
            border-radius: 0px 25px 25px 0px;
            color: $text-desc-color;
            font-family: $main-font-family;
        }

        //===============================================

        

// ==========================================

        .submenu {
            display: none;
            position: fixed;
            border-radius: 25px;
            border: 1px solid rgba(36, 36, 36, 0.20);
            background: #FFF;
            padding: 24px 28px;
            align-items: center;
            gap: 10px;
            z-index: 1000000000;
            width: auto;
        }
        
        .dropdown.active .submenu {
            z-index: 100000;
            display: block;
        }
        
        .submenu li {
            margin: 0;
            font-family: $main-font-family;
            font-size: $menu-size;
            color: $menu-color;
            font-weight: $main-font-weight;
        }
        
        .submenu a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            font-family: $main-font-family;
            font-size: $menu-size;
            color: $menu-color;
            font-weight: $main-font-weight;
        }
        
        /* Дополнительный стиль для стрелки */
        .nav-arrow {
            width: 10px;
            height: 10px;
            margin-left: 5px;
        }

        .nav__link:hover {
            color: black;
        }

        .submenu a:hover {
            color: black;
        }


}


// ------------------------BANNER-----------------------------


.banner {
    background-image: url(../images/banner/banner-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1080px;
}

.banner__conteiner {

    .banner__description {
        padding-top: 348px;
        width: 600px;
        line-height: 63px;

        h1 {
            font-size: $title-size;
            color: $title-color;
            font-family: $main-font-family;
            font-weight: $main-font-weight;
        }

        p {
            @include desc-styles;
            color: $title-color;
            font-family: $main-font-family;
            margin-bottom: 24px;
        }

        a {
            font-family: $main-font-family;
            font-weight: $post-second-font-weight;
            color: $title-color;
            font-size: $btn-tg-size;
            padding: 28px 40px;
            border-radius: 0px 25px 25px 25px;
            background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #21B8FF 0%, #49C5FF 100%);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.10);
        }

        .banner__btn:hover {
            border-radius: 0px 25px 25px 25px;
            background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #1782b4 0%, #3388b0 100%);
            box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.10);
        }
    }
}

.header.open span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open span:nth-child(2) {
        opacity: 0;
    }

    .header.open span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .header.open span {
        background-color: #F5F5F5;
    }



// ------------------------PARTNERS-----------------------------


.partners__conteiner {

    h2 {
        @include blocks-title;
        margin-top: 68px;
        height: 206px;
    }
}

.carousel-slide img {
    display: block;
    width: 25%;
    float: left;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    line-height: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }


// ------------------------ABOUT-----------------------------



.about {
    background-image: url(../images/about/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about__conteiner {

    h2{
        @include blocks-title;
        padding-top: 200px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    li {position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        @include desc-styles;
        line-height: 27px;
        width: 452px;
    }

    .block__img {
        
        z-index: 5;
    }

    .elips1 {
        position: absolute;
        top: 165px;
    }

    .elips2 {
        position: absolute;
        top: 165px;
        left: 785px;
    }

    .elips3 {
        position: absolute;
        top: 165px;
    }

    .about__quote-prapper {
        padding-bottom: 118px;
    }

    .about__quote {
        position: relative;
        width: 753px;
        text-align: center;
        padding: 35px 47px;
        font-size: $main-size;
        line-height: 28px;
        font-weight: $post-second-font-weight;
        letter-spacing: 0.5px;
        background: #FFFFFF;
        border-radius: 0px 25px;
        margin-top: 108px;
        margin-left: auto;
        margin-right: auto;
    }

    .quote__img {
        position: absolute;
        top: -30px;
        left: 50%;
    }

    .about__block {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }
    
    .about__block.active {
        opacity: 1;
        transform: translateX(0);
    }

    .block-revers {
        display: flex;
        flex-direction: row-reverse
    }
}




// ------------------------PROJECTS-----------------------------



.projects__conteiner {


    h2 {
        @include blocks-title;
        margin-top: 98px;
        margin-bottom: 50px;
        margin-bottom: 14px;
    }

    .swiper-container {
        overflow: hidden;
    }

    .swiper-slide {
        display: flex;
        justify-content: space-between;
    }

    .project__desc-wrapper {
        width: 456px;
    }

    .project__albom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'project__img1 project__img2'
        'project__img1 project__img3';
    }

    .project__img1 {
        grid-area: project__img1;
        margin-right: -70px;
    }

    .project__img2 {
        grid-area: project__img2;
    }

    .project__img3 {
        grid-area: project__img3;
        margin-top: -65px;
    }

    h3 {
        color: #242424;
        font-family: $main-font-family;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 45px */
        letter-spacing: 0.5px;
    }

    p {
        color: rgba(36, 36, 36, 0.70);
        font-family: $main-font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: 0.5px;
    }

    .carousel-container {
        overflow: hidden;
        position: relative;
        max-width: 1128px;
        margin: 0 auto;
      }
      
      .carousel {
        min-width: 1128px;
        display: flex;
        transition: transform 0.4s ease-in-out; 
      }
      
      .carousel-item {
        flex: 0 0 100%;
        max-width: 100%;
      }
      
      .prev-button,
      .next-button {
        margin-top: 10px;
        position: absolute;
      }
      
      .prev-button {
        left: 10px;
      }
      
      .next-button {
        right: 10px;
      }


      .swiper-pagination {
        position: relative;
        bottom: 10px;
    }
    
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .swiper-pagination-bullet-active {
        background-color: rgba(0, 0, 0, 0.5);
    }
      

}



// ------------------------TEAM-----------------------------



.team__conteiner {
    height: 883px;

    h2 {
        @include blocks-title;
        padding-top: 100px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            .item-two {
                margin-top: 125px;
            }

            .item-three {
                margin-top: 200px;
            }
    }
    img {
        width: 360px;
        height: 377px;
    }

    li {
        position: relative;
    }

    .list__desc {
        position: absolute;
        width: 267px;
        height: 146px;
        background: #FFFFFF;
        border-radius: 0px 25px 25px 25px;
        top: 310px;
        left: 32px;

            h3 {
                margin-top: 30px;
                font-size: $btn-tg-size;
                font-weight: $main-font-weight;
                font-family: $main-font-family;
                line-height: 27px;
                letter-spacing: 0.5px;  
                color: $text-desc-color;
            }

            p {
                margin-top: 16px;
                font-family: $main-font-family;
                color: $job_color;
                line-height: 22px;
                letter-spacing: 0.5px;
                font-weight: $main-font-weight;
                font-size: $main-size;
            }
    }
}


// ------------------------AWARDS-----------------------------


.awards__conteiner {

    h2 {
        @include blocks-title;
        margin-bottom: 74px;
        position: relative;
        overflow: hidden;
        
    }

    .awards__slider {
        display: flex;
        overflow: hidden;
        position: relative;
    }
    
    .awards__slides {
        display: flex;
        animation: slide 30s infinite linear;
    }
    
    .awards__slides img {
        width: 100%;
        height: auto;
        margin-right: 10px; /* Пространство между слайдами */
    }
    
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%); /* Прокрутка на ширину слайда */
        }
}

}



// ------------------------HELP-----------------------------



.help__conteiner {

    margin-top: 223px;

    h2 {
        @include blocks-title;
        margin-bottom: 41px;
    }

    .help__wrapper {
        width: 1128px;
        height: 408px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 25px 25px 0px 0px;
        background: linear-gradient(180deg, #EDF9FF 0%, rgba(237, 249, 255, 0.00) 100%);
    }

    .help__description {
        width: 550px;
        padding: 0 96px;

            h3 {
                color: #242424;
                font-size: $help-fond-name-proj-size;
                font-family: $main-font-family;
                font-weight: $main-font-weight;
                letter-spacing: 0.2px;
                margin-bottom: 12px;
            }

            p {
                color: $job_color;
                font-size: $main-size;
                font-family: $main-font-family;
                line-height: 140%;
                letter-spacing: 0.2px;
            }

            a {
                color: $title-color;
                font-size: $main-size;
                font-family: $main-font-family;
                font-weight: $main-font-weight;
                letter-spacing: 0.2px;
                border-radius: 0px 25px 25px 25px;
                background: $block-titles-color;
                box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
                padding: 25px;
                margin-top: 24px;
                display: inline-block;
            }
    }

    .description__btn:hover {
        border-radius: 0px 25px 25px 25px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), #021042;
        box-shadow: 0px 5px 17px 0px rgba(2, 16, 66, 0.25);
    }
}



// ------------------------CONNECTION-----------------------------


.connection {
    background-image: url(../images/connection/connection-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.connection__conteiner {

    .connection__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        margin: 0 auto;
        width: 549px;

            h2 {
                @include blocks-title;
                letter-spacing: 0.2px;
                margin-bottom: 24px;
            }

            p {
                color: $job_color;
                text-align: center;
                font-size: $main-size;
                font-family: $main-font-family;
                letter-spacing: 0.2px;
            }

            .connection__btn {
                font-family: $main-font-family;
                font-weight: $post-second-font-weight;
                color: $title-color;
                font-size: $btn-tg-size;
                padding: 28px 40px;
                background: linear-gradient(91.2deg, #21B8FF 0.86%, #49C5FF 99.38%);
                box-shadow: 0px 5px 17px rgba(36, 36, 36, 0.1);
                border-radius: 0px 25px 25px 25px;
                margin: 0 auto;
                margin-top: 34px;
                display: inline-block;
                margin-bottom: 50px;
            }

            .social {
                display: flex;
                width: 394px;
                justify-content: space-between;
                margin: 0 auto;
                padding-bottom: 72px;

                    .social__wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
            }
    }

    .connection__btn:hover {
        border-radius: 0px 25px 25px 25px;
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.15) 0%, rgba(36, 36, 36, 0.15) 100%), linear-gradient(106deg, #21B8FF 0%, #49C5FF 100%);
        box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.10);
    }
}




// ------------------------FOOTER-----------------------------



.footer__conteiner {
    margin-top: 50px;

        .footer__top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 82px;
            border-bottom: 2px solid #24242440;

                .footer__desription {
                    h4 {
                        display: inline-block;
                        margin-top: 20px;
                        margin-left: 16px;
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $main-font-weight;
                        line-height: 24.1px;
                        letter-spacing: 0.2px;
                    }

                    p {
                        color: $job_color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $second-font-weight;
                        line-height: 24.1px;
                        letter-spacing: 0.2px;
                        width: 360px;
                        margin-top: 15px;
                    }
                }

                .footer__contacts {
                    text-align: right;
                    h4 {
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $main-font-weight;
                        line-height: 26px;
                        letter-spacing: 0.2px;
                        margin-bottom: 15px;
                    }

                    p {
                        color: $text-desc-color;
                        font-size: $main-size;
                        font-family: $main-font-family;
                        font-style: normal;
                        font-weight: $second-font-weight;
                        line-height: 26px;
                        letter-spacing: 0.2px;
                        margin-bottom: 15px;
                        margin-right: 10px;
                    }

                    .footer__adress {
                        display: inline-block;
                    }

                    .footer__phone {
                        display: inline-block;
                    }

                    .footer__email {
                        display: inline-block;
                    }
                }
        }

        .footer__copyright-block {
            height: 70px;

                .footer__copyright-text {
                    margin-top: 39px;
                    color: $text-desc-color;
                    font-size: $main-size;
                    font-family: $main-font-family;
                    font-style: normal;
                    font-weight: $second-font-weight;
                    line-height: 26px;
                    letter-spacing: 0.2px;
                }
        }
}


@media (max-width: 1592px) and (min-width: 1440px) {

    ._conteiner {
        max-width: 1126px;
        margin: 0 auto;
        padding: 0px 15px;
        box-sizing: border-box;
    }

}


@media (max-width: 1439px) and (min-width: 1280px) {

    ._conteiner {
        max-width: 936px;
        margin: 0 auto;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    

    .projects__conteiner {


        h2 {
            @include blocks-title;
            margin-top: 98px;
            margin-bottom: 50px;
            margin-bottom: 14px;
        }

        .swiper-slide {
            display: block;
        }

        .project__desc-wrapper {
            width: 100%;
            margin-bottom: 60px;
        }

        .project__img1 {
            width: 447px;
        }

        .project__img2 {
            width: 447px;
        }

        .project__img3 {
            width: 447px;
        }

    }

    .team {
            .team__list {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    .help {
            .help__wrapper {
            width: 936px;
        }
    }

    .about__conteiner {

        .elips2 {
            position: absolute;
            top: 165px;
            left: 585px;
        }

    }

}


@media (max-width: 1279px) and (min-width: 991px) {
    
    .header {
        position: relative;
        border-bottom: 1px solid #000;
    }

    ._conteiner {
        max-width: 834px;
        margin: 0 auto;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    .banner {
        background-image: none;

                .banner__description {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-top: 109px;
            width: 552px;
            background-image: url(../images/banner/banner-img2.svg);
            background-position: 70px 400px;
            background-size: 420px;
            background-repeat: no-repeat;
            height: 830px;

            .banner__title {
                font-size: 34px;
                color: #242424;
                width: 380px;
                margin: auto;
                color: #242424;
                text-align: center;
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.2px;
            }

            .banner__subtitle {
                font-size: 15px;
                color: rgba(36, 36, 36, 0.75);
                color: rgba(36, 36, 36, 0.75);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 21px */
                letter-spacing: 0.2px;
                margin-top: 24px;
            }

            .banner__btn {
                border-radius: 0px 25px 25px 25px;
                background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
                box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.10);
                padding-top: 24px;
            }
        }
    }


    .partners {
        margin-top: -270px;

            .partners__title {
                margin-bottom: -55px;
            }
    }

    
    .about {
        background-image: url(../images/about/about-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    

    .about__conteiner {
        

        .elips2 {
            position: absolute;
            top: 165px;
            left: 485px;
        }

        .block-revers {
            .desc-revers {
                order: 200;
            }

            .img-revers {
                order: 100;
            }
        }
        
        .about__block {
            display: block;

                .block__img {
                    width: 837px;
                    height: 435px;
                    z-index: 20000;
                }

                .elips1, .elips2, .elips3 {
                    display: none;
                }

                .block__desc {
                    width: 780px;
                    text-align: left;
                    margin-left: 30px;
                }

                
        }

    }
    


    .swiper-slide {
        display: flex;
        flex-direction: column;
    }


    .project__desc-wrapper {
            .project__name {
            font-size: 22px;
            }

            .project__desc {
            font-size: 15px;
            width: 775px;
            }


    }


    .team__conteiner {

        .team__list {
            width: 800px;
            flex-wrap: nowrap;
        }

        .list__item {
            width: 310px;
        }
    }



    .help {

        .help__title {
            margin-top: 167px;
        }

        .help__wrapper {
            width: 694px;
            margin: 0 auto;
            height: 301px;
        }

        .help__description {

            padding: 0 70px;

            .description__title {
                font-size: 22px;
            }

            .description__text {
                font-size: 15px;
            }

            .description__btn {
                width: 195.66px;
                height: 55px;
                font-size: 15px;
                border-radius: 0px 18.528px 18.528px 18.528px;
                background: #021042;
                box-shadow: 0px 3.70567px 12.59929px 0px rgba(2, 16, 66, 0.25);
            }

        }

        .help__image {
            width: 266px;
        }

        
    }

    .connection {
        background-image: url(../images/connection/connection-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


        .connection__conteiner {

            .connection__title {
                font-size: 27px;
            }

            .connection__text {
                font-size: 15px;
                line-height: 24px;
            }

            .connection__btn {
                padding: 24px 36px;
                border-radius: 0px 25px 25px 25px;
                background: linear-gradient(91deg, #21B8FF 0.86%, #49C5FF 99.38%);
                box-shadow: 0px 5px 17px 0px rgba(36, 36, 36, 0.10);
                font-size: 18px;
            }

        }

        
    }


    .header.open nav {
        top: 0;
        visibility: visible;
    }

    .header .header__burger-btn {
        display: block;
        position: absolute;
        right: 40px;
    }

    .nav {
        position: absolute;
        top: -180px;
        right: 0;
        width: 100%;
        background-color: $menu-color;
        margin: 0 auto;
        height: 180px;
        visibility: hidden;
        transition: top .5s, visibility .5s;
        will-change: transform;

        .nav__items {
            display: block;
        }

        .nav__link {
                color: #F5F5F5;
                display: block;
                padding: 13px;
            }
    }



}

