// colors

$menu-color: #24242480;
$title-color: #FFFFFF;
$tg-btn-color: linear-gradient(91.2deg, #21B8FF 0.86%, #49C5FF 99.38%);
$block-titles-color: #021042;
$text-desc-color: #242424;
$job_color: #242424B2;


// Font-size

$title-size: 54px;
$blocks-title-size: 34px;
$help-fond-name-proj-size: 30px;
$btn-tg-size: 22px;
$names-tg-size: 20px;
$main-size: 18px;
$menu-size: 13px;


// font-weight

$main-font-weight: 700;
$second-font-weight: 400;
$post-second-font-weight: 500;


// font-family

$main-font-family: Roboto;
